body {
	background: url(https://images.wallpaperscraft.com/image/couple_kiss_sea_sunset_silhouettes_118109_3840x2160.jpg);
	background-size: cover;
	background-position: center center;

}

.font {
	font-family: PT Serif;
	font-size: 80px;
	font-weight: 700;
	text-shadow: 0px 2px 10px black,
	             0px 5px 13px rgb(0,0,0,0.3),
	             0px 7px 23px rgb(0,0,0,0.1),
	             0px 6px 18px rgb(0,0,0,0.4);

}

html {
	height: 100%;
}

.font2 {
	font-family: Dancing script;
	padding-bottom: 10px;
	text-shadow: 0px 2px 22px black,
	             0px 5px 13px rgb(0,0,0,0.3),
	             0px 8px 17px rgb(0,0,0,0.1),
	             0px 12px 21px rgb(0,0,0,0.4);


}

hr {
	max-width: 600px;
}
.col-lg-12 {
	font-weight: 700;
	text-align: center;
	padding-top: 22%;
	color: white;
}

.btn-default {
    font-family: PT Serif;
}


